In [1]:
import pandas as pd
from flags import FLAGS, unparsed
import numpy as np
from db.conn_db import db,cursor,engine,truncate_table,data_from_mysql,dev_id_train,get_package_dict
import operator  
from functools import reduce
import time
from sklearn.preprocessing import LabelEncoder

from scipy.sparse import csr_matrix, hstack
import xgboost as xgb
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import log_loss
from data_preprocessing import *
import datetime

/home/zhijiehuang/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
deviceid_package_start_close=pd.read_csv(FLAGS.file_path+'deviceid_package_start_close.csv')

In [3]:
deviceid_package_start_close.head(5)

,app_id,close,device_id,start
0,1896072db9ce6406febfc17f681c2086,1489025133100,2ae,1489025123086
1,1896072db9ce6406febfc17f681c2086,1489025398515,e0450666692b72a1f580dfa082e8b2ae,1489025393513
2,1896072db9ce6406febfc17f681c2086,1489026583522,e0450666692b72a1f580dfa082e8b2ae,1489025463551
3,1896072db9ce6406febfc17f681c2086,1489034484924,e0450666692b72a1f580dfa082e8b2ae,1489034464940
4,1896072db9ce6406febfc17f681c2086,1489050201276,e0450666692b72a1f580dfa082e8b2ae,1489050176275

### app_id 打开的小时、 周几 、时长 、每个app对应的t1

In [4]:
def time_to_hour(timeStamp):
    # 字符类型的时间
    timeArray = time.localtime(int(timeStamp))
#    print(timeArray)
    # 转为时间数组
#    timeArray = time.strptime(timeArray, "%Y-%m-%d %H:%M:%S")
    return timeArray.tm_hour   #

In [17]:
def def_hour_bin(hour):
    if hour>=0 and hour<2:
        return '子'
    elif hour>=2 and hour<4:
        return '丑'
    elif hour>=4 and hour<6:
        return '寅'
    elif hour>=6 and hour<8:
        return '卯'
    elif hour>=8 and hour<10:
        return '辰'
    elif hour>=10 and hour<12:
        return '巳'
    elif hour>=12 and hour<14:
        return '午'
    elif hour>=14 and hour<16:
        return '未'
    elif hour>=16 and hour<18:
        return '申'
    elif hour>=18 and hour<20:
        return '酉'
    elif hour>=20 and hour<22:
        return '戌'
    elif hour>=22 and hour<24:
        return '亥'

In [6]:
def time_to_week(timeStamp):
    timeArray =int(timeStamp)
    date = datetime.datetime.fromtimestamp(timeArray)
    day=date.weekday()
#    logging.debug(day)
    return str(day+1)   # 2013

In [12]:
def time_len(line):
    timeArray =(line['close']-line['start'])/1000/60
    return timeArray

In [18]:
# extract hour of the day from the timestamp 
deviceid_package_start_close['today_hour'] = deviceid_package_start_close['start'].map(lambda x:time_to_hour(x/1000))
deviceid_package_start_close['hour_bin'] = deviceid_package_start_close['today_hour'].apply(def_hour_bin)

In [9]:
deviceid_package_start_close=deviceid_package_start_close.dropna()

In [10]:
deviceid_package_start_close['week'] = deviceid_package_start_close['start'].map(lambda x:time_to_week(x/1000))

In [13]:
deviceid_package_start_close['time_len'] = deviceid_package_start_close.apply(lambda x:time_len(x),axis=1)

In [14]:
def to_t(app):
    ret=get_package_dict(app,'t1')
    if len(ret)>0:
        return ret[0]['t1']

In [15]:
deviceid_package_start_close['app_t1'] = deviceid_package_start_close.app_id.apply(lambda x:to_t(x))

In [47]:
fil1=np.logical_and(deviceid_package_start_close.start>=1325400566 , deviceid_package_start_close.start<=1514789366)
fil2=np.logical_and(deviceid_package_start_close.close>=1325400566 , deviceid_package_start_close.close<=1514789366)

In [48]:
deviceid_package_start_close_tmp=deviceid_package_start_close.ix[np.logical_and(fil1,fil2),:]

/home/zhijiehuang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [49]:
deviceid_package_start_close_tmp.to_csv(FLAGS.file_path+'shichen_start_clost_times.csv',index= False)

In [21]:
deviceid_package_start_close.head(5)

,app_id,close,device_id,start,today_hour,hour_bin,week,time_len,app_t1
0,1896072db9ce6406febfc17f681c2086,1489025133100,2ae,1489025123086,10,巳,4,0.166900,社交
1,1896072db9ce6406febfc17f681c2086,1489025398515,e0450666692b72a1f580dfa082e8b2ae,1489025393513,10,巳,4,0.083367,社交
2,1896072db9ce6406febfc17f681c2086,1489026583522,e0450666692b72a1f580dfa082e8b2ae,1489025463551,10,巳,4,18.666183,社交
3,1896072db9ce6406febfc17f681c2086,1489034484924,e0450666692b72a1f580dfa082e8b2ae,1489034464940,12,午,4,0.333067,社交
4,1896072db9ce6406febfc17f681c2086,1489050201276,e0450666692b72a1f580dfa082e8b2ae,1489050176275,17,申,4,0.416683,社交

In [43]:
col=[]
for a in deviceid_package_start_close.week.unique():
    for b in deviceid_package_start_close.hour_bin.unique():
        for c in deviceid_package_start_close.app_t1.unique():
            col.append(a+'_'+b+'_'+c)

In [44]:
empty=pd.DataFrame(columns=col)

In [45]:
empty

Empty DataFrame
Columns: [4_巳_ 社交 , 4_巳_ 金融 , 4_巳_ 旅游 , 4_巳_ 应用管理 , 4_巳_ 移动购物 , 4_巳_ 竞速 , 4_巳_ 资讯 , 4_巳_ 系统工具 , 4_巳_ 视频直播 , 4_巳_ 体育 , 4_巳_ 生活 , 4_巳_ 实用工具 , 4_巳_ 其它 , 4_巳_ TAB(桌面游戏) , 4_巳_ 摄影摄像 , 4_巳_ SIM(模拟游戏) , 4_巳_ 教育 , 4_巳_ 智能硬件 , 4_巳_ 视频 , 4_巳_ ACT(动作类游戏) , 4_巳_ 游戏工具 , 4_巳_ 动漫娱乐 , 4_巳_ 休闲 , 4_巳_ RPG(角色扮演游戏) , 4_巳_ 浏览器 , 4_巳_ SLG(策略游戏) , 4_巳_ 健康 , 4_巳_ 通讯 , 4_巳_ 商务办公 , 4_巳_ 输入法 , 4_巳_ 移动阅读 , 4_巳_ 游戏平台 , 4_巳_ 交通出行 , 4_巳_ 音频娱乐 , 4_巳_ 游戏媒体 , 4_巳_ 汽车 , 4_巳_ 射击 , 4_巳_ 地图导航 , 4_巳_ 卡牌 , 4_巳_ 美食 , 4_巳_ 企业级应用 , 4_巳_ 医疗 , 4_巳_ 体育竞技 , 4_巳_ 房产 , 4_巳_ 母婴亲子 , 4_午_ 社交 , 4_午_ 金融 , 4_午_ 旅游 , 4_午_ 应用管理 , 4_午_ 移动购物 , 4_午_ 竞速 , 4_午_ 资讯 , 4_午_ 系统工具 , 4_午_ 视频直播 , 4_午_ 体育 , 4_午_ 生活 , 4_午_ 实用工具 , 4_午_ 其它 , 4_午_ TAB(桌面游戏) , 4_午_ 摄影摄像 , 4_午_ SIM(模拟游戏) , 4_午_ 教育 , 4_午_ 智能硬件 , 4_午_ 视频 , 4_午_ ACT(动作类游戏) , 4_午_ 游戏工具 , 4_午_ 动漫娱乐 , 4_午_ 休闲 , 4_午_ RPG(角色扮演游戏) , 4_午_ 浏览器 , 4_午_ SLG(策略游戏) , 4_午_ 健康 , 4_午_ 通讯 , 4_午_ 商务办公 , 4_午_ 输入法 , 4_午_ 移动阅读 , 4_午_ 游戏平台 , 4_午_ 交通出行 , 4_午_ 音频娱乐 , 4_午_ 游戏媒体 , 4_午_ 汽车 , 4_午_ 射击 , 4_午_ 地图导航 , 4_午_ 卡牌 , 4_午_ 美食 , 4_午_ 企业级应用 , 4_午_ 医疗 , 4_午_ 体育竞技 , 4_午_ 房产 , 4_午_ 母婴亲子 , 4_申_ 社交 , 4_申_ 金融 , 4_申_ 旅游 , 4_申_ 应用管理 , 4_申_ 移动购物 , 4_申_ 竞速 , 4_申_ 资讯 , 4_申_ 系统工具 , 4_申_ 视频直播 , 4_申_ 体育 , ...]
Index: []

[0 rows x 3780 columns]

In [46]:
empty.to_csv(FLAGS.file_path+'week_hour_bin_app_t1_columns.csv',index= False)