In [1]:
import pandas as pd
from flags import FLAGS, unparsed
import numpy as np
from db.conn_db import db,cursor,engine,truncate_table,data_from_mysql,dev_id_train
import operator  
from functools import reduce

In [2]:
deviceid_train=dev_id_train()

In [3]:
deviceid_package_start_close= pd.read_csv(FLAGS.file_path +'deviceid_package_start_close.csv',)

In [4]:
import time
def time_to_day(timeStamp):

    # 字符类型的时间
    timeArray = time.localtime(timeStamp)
    # 转为时间数组
    timeArray = time.strftime( "%Y%m%d",timeArray)
    return int(timeArray)

In [5]:
deviceid_package_start_close.close_day=deviceid_package_start_close.close.apply(lambda x:time_to_day(x/1000))

/home/zhijiehuang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [6]:
deviceid_package_start_close.start_day=deviceid_package_start_close.start.apply(lambda x:time_to_day(x/1000))

/home/zhijiehuang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [7]:
cnt=deviceid_package_start_close.groupby(deviceid_package_start_close.start_day).size()
deviceid_package_start_close['start_day_cnt']=cnt[deviceid_package_start_close.start_day].values
cnt=deviceid_package_start_close.groupby(deviceid_package_start_close.close_day).size()
deviceid_package_start_close['close_day_cnt']=cnt[deviceid_package_start_close.close_day].values

In [8]:
filte=np.logical_and(deviceid_package_start_close.start_day_cnt>100,deviceid_package_start_close.close_day_cnt>100)
deviceid_package_start_close_tmp=deviceid_package_start_close.ix[filte,:]

/home/zhijiehuang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [9]:
deviceid_package_start_close_tmp.describe()

              close         start  start_day_cnt  close_day_cnt
count  3.670212e+07  3.670212e+07   3.670212e+07   3.670212e+07
mean   1.489213e+12  1.489207e+12   1.165422e+06   1.165930e+06
std    1.897495e+10  1.913150e+10   1.822555e+05   1.815406e+05
min    5.997000e+04  5.098800e+04   1.010000e+02   1.010000e+02
25%    1.488866e+12  1.488866e+12   1.086727e+06   1.086863e+06
50%    1.489492e+12  1.489491e+12   1.182647e+06   1.183275e+06
75%    1.490187e+12  1.490186e+12   1.284972e+06   1.285787e+06
max    1.741183e+12  1.741183e+12   1.396429e+06   1.396552e+06