In [79]:
import pandas as pd
from flags import FLAGS, unparsed
import numpy as np

In [80]:
deviceid_packages_05= pd.read_csv(FLAGS.file_path +'05_deviceid_packages.csv',)

deviceid_packages_05['close_day_t1_32'].value_counts()

In [81]:
deviceid_packages_07= pd.read_csv(FLAGS.file_path +'07_deviceid_packages.csv',)

deviceid_packages_07['times_len'].value_counts()

In [82]:
deviceid_packages=pd.read_csv(FLAGS.file_path+'deviceid_packages.csv')
def app_count(text):
    app_list=text.split('|')
    return len(app_list)
deviceid_packages_07['app_len']=deviceid_packages['add_id_list'].apply(lambda line:app_count(line))
deviceid_packages_07['every_app_len']=deviceid_packages_07['times_len']/deviceid_packages_07['app_len']

In [83]:
deviceid_packages_07.describe()

,times_len,app_time_t1_17,app_time_t1_38,app_time_t1_25,app_time_t1_43,app_time_t1_11,app_time_t1_16,app_time_t1_22,app_time_t1_21,app_time_t1_33,...,app_time_t2_72,app_time_t2_133,app_time_t2_6,app_time_t2_285,app_time_t2_263,app_time_t2_21,app_time_t2_253,app_time_t2_149,app_len,every_app_len
count,7.272700e+04,72727.000000,72727.000000,72727.000000,7.272700e+04,72727.000000,72727.000000,7.272700e+04,72727.000000,7.272700e+04,...,72727.000000,72727.000000,72727.0,72727.000000,72727.000000,72727.0,72727.0,72727.0,72727.000000,7.272700e+04
mean,5.579651e+03,4.509577,2.194041,0.012086,3.510879e+02,10.610915,0.288407,4.687426e+01,1.530724,4.766605e+01,...,0.000124,0.000069,0.0,0.000041,0.000206,0.0,0.0,0.0,10.528401,9.230807e+02
std,2.078331e+05,406.867239,92.204838,1.894969,9.198533e+04,2186.676749,35.823431,1.209137e+04,97.529311,6.148353e+03,...,0.017783,0.018541,0.0,0.011124,0.032958,0.0,0.0,0.0,8.048777,2.961696e+04
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,1.000000,0.000000e+00
25%,2.400000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,5.000000,2.526316e+00
50%,6.600000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,9.000000,6.333333e+00
75%,3.280000e+02,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,14.000000,4.233333e+01
max,2.486234e+07,97427.000000,14113.000000,479.000000,2.480613e+07,587683.000000,9091.000000,3.260583e+06,17164.000000,1.256254e+06,...,4.000000,5.000000,0.0,3.000000,8.000000,0.0,0.0,0.0,174.000000,3.543947e+06

In [84]:
device_id=deviceid_packages_07.ix[:,'device_id']
deviceid_packages_07.drop('device_id', axis=1,inplace = True)

deviceid_packages_07=deviceid_packages_07/deviceid_packages_07.std()
deviceid_packages_07=pd.concat([device_id,deviceid_packages_07],axis=1)

/home/zhijiehuang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [90]:
deviceid_packages_07=deviceid_packages_07.fillna(0)

In [85]:
deviceid_packages_07.describe()

,times_len,app_time_t1_17,app_time_t1_38,app_time_t1_25,app_time_t1_43,app_time_t1_11,app_time_t1_16,app_time_t1_22,app_time_t1_21,app_time_t1_33,...,app_time_t2_72,app_time_t2_133,app_time_t2_6,app_time_t2_285,app_time_t2_263,app_time_t2_21,app_time_t2_253,app_time_t2_149,app_len,every_app_len
count,72727.000000,72727.000000,72727.000000,72727.000000,72727.000000,72727.000000,72727.000000,72727.000000,72727.000000,72727.000000,...,72727.000000,72727.000000,0.0,72727.000000,72727.000000,0.0,0.0,0.0,72727.000000,72727.000000
mean,0.026847,0.011084,0.023795,0.006378,0.003817,0.004853,0.008051,0.003877,0.015695,0.007753,...,0.006959,0.003708,NaN,0.003708,0.006258,NaN,NaN,NaN,1.308075,0.031167
std,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,NaN,1.000000,1.000000,NaN,NaN,NaN,1.000000,1.000000
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,0.124242,0.000000
25%,0.000115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,0.621212,0.000085
50%,0.000318,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,1.118182,0.000214
75%,0.001578,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,1.739395,0.001429
max,119.626453,239.456488,153.061384,252.774566,269.674805,268.756230,253.772452,269.661975,175.988119,204.323646,...,224.932101,269.679439,NaN,269.679439,242.733544,NaN,NaN,NaN,21.618190,119.659373

In [93]:
columns=['device_id','app_len', 'every_app_len', 'times_len', 'app_time_t2_61', 'app_time_t1_32', 'app_time_t1_33', 'app_time_t2_132', 
             'app_time_t2_94', 'app_time_t1_36', 'app_time_t1_43', 'app_time_t2_223', 'app_time_t2_124', 'app_time_t2_251', 'app_time_t2_158',]

In [94]:
deviceid_packages_07.to_csv(FLAGS.file_path+'07_deviceid_packages.csv',columns=columns,index= False)

In [92]:
deviceid_packages_07.shape

(72727, 337)